

   <mat-sidenav-container class = "tp-container">
      <mat-sidenav mode = "side" opened role="navigation">
         <div class="sidenavbar">
            <section class = "tp-section">
               <mat-icon>home</mat-icon>
               <span style="margin-left: 10px; margin-top: 6px;">Dashboard</span>
            </section>
            <section class = "tp-section">
               <mat-icon>account_balance_wallet</mat-icon>
               <span style="margin-left: 10px; margin-top: 6px;">E-Wallets</span>
            </section>
            <section class = "tp-section">
               <img src="assets/aff.PNG">
               <span style="margin-left: 10px; margin-top: 6px;">Affiliates</span>
            </section>
            <section class = "tp-section">
               <mat-icon>event</mat-icon>
               <span style="margin-left: 10px; margin-top: 6px;">Events</span>
            </section>
            <section class = "tp-section">
               <img src="assets/payment.PNG">
               <span style="margin-left: 10px; margin-top: 6px;">Payments</span>
            </section>
            <section class = "tp-section">
               <mat-icon> business</mat-icon>
               <span style="margin-left: 10px; margin-top: 6px; margin-right: -116px;">Manage my Business</span>
            </section>
            <section class = "tp-section">
               <mat-icon>settings</mat-icon>
               <span style="margin-left: 10px; margin-top: 6px; ">Settings</span>
            </section>
            
            
         </div>
      </mat-sidenav>
      <mat-sidenav-content>
         <mat-toolbar color="primary">
            <div>
               <div style="margin-top: 14px; text-align: center;">
                     <img src="assets/wwww.PNG" class="dashboard-logo">
                     <span class="dashboard">Dashboard</span>   
                  </div>
                  <div style="margin-left: 972px; margin-top: -43px;">
                     <img src="assets/arrow.PNG" class="profile-arrow">
                  <b> <span class="profile-name">Subhash Manual</span> </b>
                     <img src="assets/profilepic.PNG" class="profile-pic">
                     <mat-icon class="mat-bell">notifications_none</mat-icon>&nbsp;&nbsp;
                  </div> 
            </div>
          </mat-toolbar>
          <p style="margin-top: 22px;
          margin-left: 60px;"><img src="assets/portfolio.PNG" class="portfolio-pic">
          <b>Portfolio</b>
          <img src="assets/refer.PNG" class="refer-pic">
          </p>
          
          <div style="background-color:white;width:748px; height:373px; margin-left: 62px;padding-top: 1px;
          margin-top: 24px; border-radius: 2%;">
            <!-- <p class="chart-wrapper" style=" margin-top:59px;margin-left: 19px;width: 611px;
            height: 309px;">
               <canvas baseChart style="width:477px; height:369px; margin-top:59px;"
                  [datasets]="data" 
                  [labels]="lineChartLabels" 
                  [options]="options"
                  [colors]="lineChartColors" 
                  [legend]="lineChartLegend" 
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
               </canvas>
            </p> -->
            <p style="margin-left: 166px; color:#e6e3e3;
            margin-top: 16px;">Your portfolio value</p>
            <p style="margin-left: 188px;"><b>0.00 BTC</b></p>
            <hr class="line1">
            <hr class="line2">
            <hr class="line3">
            <hr class="line4">
            <hr class="line5">
         <p>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 31px;">12 JUN</span>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 33px;">14 JUN</span>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 35px;">16 JUN</span>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 36px;">18 JUN</span>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 38px;">20 JUN</span>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 40px;">22 JUN</span>
               <span style="color: #d4d2d2;font-size: 10px;margin-left: 42px;">24 JUN</span>
               
         </p>
         
             <hr class="style-seven"/>

            <div style="background-color:  #f9f7f7;margin-top: 47px;margin-left: 507px;margin-right: 57px;height: 303px;width: 200px;border-radius: 2%;">
               <p class="doughnutchart-wrapper" style="width:232px;height: 119px;margin-top: -347px;margin-left: -17px;">
                  
                  <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [colors]="doughnutColors"
                  [options]='chartOptions'
                  [chartType]="doughnutChartType">
               </canvas>
               </p>
               <img src="assets/percentage.PNG" class="percentage">
               <p style="margin-left: 50px;
               font-size: 15px;"><b>CCRB Mining</b></p>
               <p style="margin-left: 29px;"><b>Overall Completion</b></p>
               <p style="font-size: 11px;
               margin-left: 8px;">
                  <span style="color: #d4d2d2;">Hashes Mined</span>
                  <span style="color: #d4d2d2;margin-left: 42px;">CCRB Mined</span>
               </p>
               <p style="margin-left: 22px;">
                  <span><b>985K</b></span>
                  <span style="margin-left: 67px;"><b>$ 2.46</b></span>
               </p>
            </div>
      </div>
      <div style="background-color: white;border-radius: 2%;height: 361px;margin-left: 913px;margin-top: -371px;height: 373px; margin-right: 73px; ">
         <img src="assets/card.PNG" class="card-pic">
         <div style="margin-left: 43px;
         font-size: 12px;">
                  <p>
                     <span>Membership:</span>  <span style="color:blue;margin-left: 38px;"><b>Prime Plus</b></span>
                  </p>
                  <p>
                     <span>Trading Account:</span>  <span style="margin-left: 19px;"><b>266.7 CCRB</b></span>
                  </p>
                  <p>
                     <span>Mining Balance:</span>  <span style="margin-left: 24px;"><b>266.7 CCRB</b></span>
                  </p>
                  <p>
                     <span>Mining Pending:</span>  <span style="margin-left: 23px;"><b>266.7 CCRB</b></span>
                  </p>
                  <p>
                     <span>Total:</span>  <span style="margin-left: 83px;"><b>266.7 CCRB</b></span>
                  </p>
                  <p class="upgrade">Upgrade</p>
         </div>
      </div>
      <div style="border-radius: 2%;background-color: white;height: 111px;margin-left: 61px;margin-top: 24px;margin-right: 917px;width:211px;">
      <p><img src="assets/cryptocarbon.PNG" class="crypt1">
      <span style="color: #d4d2d2;">CryptoCarbon(CCRB)</span></p>
      <p style="margin-left: 61px;"><b>266.7 CCRB</b></p>
      </div>
      <div style="border-radius: 2%;background-color: white;height: 111px;margin-left: 318px;margin-top: -110px;margin-right: 630px;width:211px;">
         <p><img src="assets/crypt2.PNG" class="crypt2">
            <span style="color: #d4d2d2;">CryptoCarbon(CCRB)</span></p>
      <p style="margin-left: 61px;"><b>266.7 CCRB</b></p>
      </div>
      <div style="border-radius: 2%;background-color: white;height: 111px;margin-left: 575px;margin-top: -110px;margin-right: 346px;width:211px;">
         <p><img src="assets/crypto3.PNG" class="crypt3">
            <span style="color: #d4d2d2;">CryptoCarbon(CCRB)</span></p>
      <p style="margin-left: 61px;"><b>266.7 CCRB</b></p>
      </div>
      <div style="border-radius: 2%;background-color: white;height: 111px;margin-left: 830px;margin-top: -110px;margin-right: 150px;width:217px;">
         <p><img src="assets/crypto3.PNG" class="crypt4">
            <span style="color: #d4d2d2;">CryptoCarbon(CCRB)</span></p>
      <p style="margin-left: 61px;"><b>266.7 CCRB</b></p>
      </div>
      <img src="assets/bottom-arrow.PNG" class="bottom-arrow">
        <main>
         
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
 
    